*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif,monospace;
    border: border-box;
}

.nav-bar{
    height: 40px;
    background-color: #141414;
    border: 2px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}


.nav-logo{
    height: 40px;
    width: 100px;
    display: flex;
    justify-content: space-evenly;

}

.logo{
    background-image: url("netflix\ main\ logo.png");
    background-size: cover;
    height: 40px;
    width: 100%;
}

.border{
    background-color: transparent;
    color: white;
    font-size: 0.85rem;
    font-weight: 300;
}

.nav-empty{
    width: 20%;
    display: inline;
    justify-content: center;
}

.nav-search{
    height: 40px;
    width: 30px;
    color: white;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

}
.nav-home:hover .nav-tvshows:hover{
    font-weight: 700;
}
.background{
    background-color: #141414;
    height: 700px;
    width: 100%;
}
.sub-heading{
    color: white;
    height: 40px;
    width: 200px;
    font-size: larger;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.content-area{
    background-color: transparent;
    height: 275px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.content{
    color: white;
    height: 250px;
    width: 200px;
    border: 2px solid black;
}
.content-image{
    height: 250px;
    background-size: cover;
    display: flex;
    justify-content: center;

}
 

